* {
  /* border: 1px solid red; */
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: -2px;
}

header {
  text-align: center;
  background-color: #404041;
}

.header-text {
  color: #DD1972;
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 0px;
}

.header-subtext {
  color: #fff;
  margin-top: 0px;
  font-weight: lighter;
}

.under-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-side-boxes {
  display: flex;
  width: 46%;
  flex-direction: column;
  background-color: #f7f7f7;
  justify-content: space-evenly;
}

aside {
  width: 49%;

}

form {
  background-color: #fff;
  margin: .5em;
  border: 1px solid #D0D2D3;
  padding: .5em;
}

h3 {
  color: #404041;
  margin: 0px;
  font-weight: bold;
  font-size: 1em;
}

#min-max-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side-cards {
  width: 80%;
}

.min-max-range-box {
  width: 25%;
}

.light-form-text {
  margin: 0px;
  font-size: .8em;
  color: #404041;
}

.input-form-box {
  margin: 0px;
  width: 100%;
}

.button {
  background-color: #404041;
  color: #fff;
  border-radius: 18px;
  height: 2em;
  margin-top: 1.25em;
}

#the-current-range-text {
  margin-bottom: em;
}

.range-numbers {
  text-decoration: underline;
  font-weight: bold;
}

.name-and-guess-wrapper {
  display: flex;
  justify-content: space-between;
}

/* .name-and-guess {
  display: flex;
  flex-flow: row wrap;
}

.name-guess {
  width: 48%;
}

.challenger-name-input {
  width: 100%;
}

.guess-box {
  width: 50%;
} */
